
<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl leading-8 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      Soy un desarrollador Junior, parcialmente autodidacta y titulado en Desarrollo de Aplicaciones Multiplataforma
      y Desarrollo de Videojuegos y Realidad Virtual. También me estoy formando en Desarrollo Web y tengo alguna noción básica de ciberseguridad.

      Por otra parte, dispongo de un perfil enfocado a la parte artística, con conocimientos de modelado, animación 3D, y edición de imagen y vídeo.
      </p>
      <p
        class="text-lg lg:col-start-2  leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Si buscas ponerte en contacto conmigo para cualquier 
        clase de oferta o propuesta, puedes ponerte en contacto 
        conmigo a través del correo:  <a href="#_">rodrigobenimo07@gmail.com</a
        >
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        He trabajado en proyectos tanto como Solo Developer como desarrollador en un equipo de trabajo multidisciplinar junto a otros programadores
        y varios diseñadores gráficos y técnicos de animación 3D.
      </p>
      <p
        class="lg:col-start-4 leading-relaxed "
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        Me considero un programador todoterreno, me muevo bien en entornos conocidos, y soy capaz de
        extrapolar mis conocimientos de una disciplina a otra con facilidad.
        <br /><br />
        Poseo un gran entendimiento de los patrones de diseño, y me gusta destacar mi preocupación por la 
        accesibilidad del usuario. Habiéndome criado en un pequeño pueblo del centro de España, he vivido 
        como un nativo digital rodeado de gente que no comprende del todo las tecnologías que nos rodean 
        a día de hoy, por lo que busco que todo en lo que trabajo sea todo lo intuitivo que pueda ser.
        <br /><br />
        Confío mucho en mi capacidad de perspectiva para abordar problemas, 
        probando diferentes enfoques hasta encontrar el más adecuado. Y siempre 
        estoy dispuesto a atender a nuevas propuestas cuando trabajo con más personas.
      </p>
      <p   class="text-3xl leading-8 lg:col-span-3 lg:text-7xl lg:leading-13 lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
      data-aos="fade-up"
      data-aos-duration="3000">
        "Ok Google, ¿qué podemos destacar de todo lo que he hecho hasta ahora?"
      </p>
    </div>
  </div>
</section>
